:root {
  --modal-frame-bg-color: #fff;
  --modal-frame-text-color: #575757;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  overflow: auto;
}

.modal-frame {
  padding: 20px;
  background: var(--modal-frame-bg-color);
  width: 400px;
  text-align: left;
  color: var(--modal-frame-text-color);
}

.modal-topbar {
  height: 30px;
  font-size: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.modal-close-x-button {
  margin-right: 10px;
  color: var(--modal-frame-text-color);
}
.modal-close-x-button:hover {
  /* margin-right: 10px; */
  /* color: rgb(46, 46, 46); */
  transform: scale(1.1);
  filter: brightness(1.2);
  cursor: pointer;
}

.modal.modal-open {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* body.modal-open {
  overflow: hidden;
} */
