.container {
  margin-top: 10px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

textarea#textarea-input {
  height: 400px;
  padding: 5px;
  border-color: rgb(155, 155, 155);
  resize: none;
  margin: 0px;
  display: block;
}

#image-container {
  height: 400px;
  width: 100%;
  border: rgb(155, 155, 155) 1px solid;
  /* ref: https://programming.vip/docs/three-ways-of-realizing-transparent-grid-with-css.html */
  background-image: repeating-conic-gradient(
    rgb(179, 179, 179) 0 25%,
    transparent 0 50%
  );
  background-size: 20px 20px;
}
