body {
  text-align: center;
}

.container {
  width: 600px;
  margin-top: 30px;
  padding: 0 20px;
  text-align: left;
}

.about {
  width: 100%;
}

.btn {
  width: 100%;
}

#output-path {
  font-weight: bold;
}

h5 {
  margin-bottom: 20px;
}

#button-start {
  margin-bottom: 30px;
}

.hide {
  display: none;
}

.btn:hover {
  filter: brightness(120%);
}
