# stay at least a couple months behind
before=2026-04-19

# after future npm 11+ upgrade, maybe use this line instead so no manual update 
# of this file is needed:
# min-release-age=60

#ignore-scripts=true