# Stay at least a couple months behind
before=2026-04-19

#NOTE: future plans:

# After npm 11+ upgrade, use this line instead so no manual update 
# of this file is needed:
# min-release-age=60

# After node 24 upgrade and electron 41+ upgrade, try this, plus allowScripts
# in package.json for sharp. Remove it again (keeping the allowScripts) after
# node 26 / npm 12 upgrade, as it will change behavior:
# ignore-scripts=true