.container {
  margin-top: 10px;
}

.tabs .tab a {
  color: rgba(47, 144, 209, 0.664);
}

.tabs .tab a:hover {
  background-color: rgba(255, 255, 255, 0) !important;
  color: rgb(47, 144, 209);
}

.tabs .tab a.active {
  background-color: rgba(255, 255, 255, 0) !important;
  color: rgb(47, 144, 209);
}

.tabs .indicator {
  background-color: rgb(47, 144, 209) !important;
}
