#media-player-container {
  display: flex;
  align-items: flex-start;
  justify-items: center;
  flex-direction: column;
  direction: ltr;
}

.mp-zindex-reader {
  z-index: 49;
}
.mp-zindex-tools {
  z-index: 110;
}

.mp-layout-top-left {
  position: fixed;
  top: calc(var(--menubar-height) + 10px);
  left: 10px;
}

.mp-layout-bottom-left {
  position: fixed;
  bottom: calc(var(--toolbar-height) + 10px);
  left: 10px;
}

.mp-frame {
  border: 0;
  user-select: none;

  font-size: 15px;
  background-color: var(--mediaplayer-bg-color);
  padding: 5px 5px;
  border-radius: 5px;

  min-height: 10px;
  --mp-frame-width: 300px;
  min-width: var(--mp-frame-width);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#media-player-container:has(
    #mp-div-video:not(.set-display-none),
    #mp-div-ytvideo:not(.set-display-none)
  )
  .mp-frame {
  --mp-frame-width: 500px;
}

.mp-frame a,
a:hover a:visited {
  text-decoration: none;
  cursor: pointer;
}

#mp-div-video {
  background: #000;
  height: 286px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
}

#mp-div-video video {
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border: none;
  left: 50%;
  transform: translateX(-50%);
}
/* #loadingOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
} */

#mp-html-video-loading-div,
#mp-yt-video-loading-div {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.mp-html-video-loading-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #333;
  border-top: 4px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* -------------------------------------------------- */

#mp-div-ytvideo {
  background: #000;
  height: 286px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#mp-div-ytvideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  border: none;
  aspect-ratio: 16 / 9;
  left: 50%;
  transform: translateX(-50%);
}

/* -------------------------------------------------- */

/* #mp-div-playlist {
} */

.mp-separator {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  border-left: var(--mediaplayer-separator-color) solid 1px;
}

.mp-disabled {
  color: var(--mediaplayer-disabled-color) !important;
  opacity: 0.3 !important;
  pointer-events: none;
}

.mp-hidden {
  display: none !important;
}

/* -------------------------------------------------- */

.mp-button {
  margin-right: 3px;
  margin-left: 3px;
  color: var(--mediaplayer-button-color);
  min-width: 15px;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.mp-button:hover i {
  color: var(--mediaplayer-button-hover-color);
  transform: scale(1.1);
  display: inline-block;
  transform-origin: center;
}

.mp-button:active {
  transform: scale(0.9);
}

/* -------------------------------------------------- */

#mp-div-topbar {
  display: flex;
  flex-direction: row;
}

#mp-div-time {
  display: inline;
  margin-left: 3px;
}

#mp-text-time,
#mp-text-volume {
  display: inline;
  visibility: hidden;
  background-color: black !important;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  pointer-events: none;
  z-index: 203;
  flex-grow: 1;
}

#mp-div-time {
  display: inline-flex;
  flex-grow: 1;
  align-items: center;
  position: relative;
}

#mp-div-time:hover #mp-text-time {
  visibility: visible;
  min-width: 100px;
  position: absolute;
  top: 15px;
  left: 0;
}

#mp-slider-time {
  flex-grow: 1;
}

#mp-div-volume {
  position: relative;
}
/* 
#mp-div-volume:hover #mp-slider-volume {
  display: inline !important;
} */

#mp-slider-volume {
  width: 30px;
}

#mp-div-volume:hover #mp-text-volume {
  visibility: visible;
  position: absolute;
  top: 15px;
  left: 0;
}

#mp-div-volume:hover #mp-slider-volume {
  display: inline-block !important;
}

#mp-button-playlist {
  margin-left: 5px;
}

.mp-slider {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-left: 2px;
  margin-right: 5px;
  cursor: pointer;

  user-select: initial;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  width: 60px;
  background: var(--mediaplayer-slider-right-bg-color);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 3px;
  overflow: hidden;
}

.mp-slider:hover {
  background: var(--mediaplayer-slider-hover-right-bg-color);
}

.mp-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 5px;
  background: var(--mediaplayer-slider-left-bg-color);
  border-radius: 5px;
  box-shadow: -100vw 0 0 100vw var(--mediaplayer-slider-left-bg-color);
}
.mp-slider:hover::-webkit-slider-thumb {
  background: var(--mediaplayer-slider-hover-left-bg-color);
  box-shadow: -100vw 0 0 100vw var(--mediaplayer-slider-hover-left-bg-color);
}

/* ************* PLAYLIST ************* */

#mp-div-playlist-tracks {
  clear: both;
  margin: 3px 2px 3px 2px;
  padding: 5px;
  background-color: var(--mediaplayer-tracks-bg-color);
  border-radius: 5px;
  min-height: 0px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#mp-div-playlist-tracks::-webkit-scrollbar {
  width: 5px;
}

.mp-div-playlist-track {
  font-size: 11px;
  width: 100%;
  padding: 2px;
  cursor: pointer;
  color: var(--mediaplayer-track-text-color);
  font-family: monospace;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.mp-div-playlist-track:hover {
  background-color: var(--mediaplayer-track-hover-bg-color) !important;
  color: var(--mediaplayer-track-hover-text-color) !important;
}

/* .mp-span-playlist-track-time {
} */

.mp-span-playlist-track-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 195px;
  text-align: left;
}

.mp-div-playlist-current-track {
  color: var(--mediaplayer-track-current-text-color) !important;
  background-color: var(--mediaplayer-track-current-bg-color);
}

.mp-div-playlist-selected-track {
  background-color: var(--mediaplayer-track-selected-bg-color);
  color: var(--mediaplayer-track-selected-text-color);
}

#mp-span-playlist-buttons-right {
  float: right;
  display: inline;
  margin-top: 3px;
  margin-right: 5px;
}

#mp-span-playlist-buttons-left {
  float: left;
  display: inline;
  margin-top: 3px;
  margin-left: 5px;
}

#mp-button-shuffle-on,
#mp-button-shuffle-off {
  margin-right: 8px;
}

#mp-button-save {
  margin-left: 7px;
}
