#audio-player-container {
  display: flex;
  align-items: flex-start;
  justify-items: center;
  flex-direction: column;
  z-index: 10;
}

.ap-layout-top-left {
  position: fixed;
  top: calc(var(--menubar-height) + 10px);
  left: 10px;
}

.ap-layout-bottom-left {
  position: fixed;
  bottom: calc(var(--toolbar-height) + 10px);
  left: 10px;
}

.ap-frame {
  border: 0;
  user-select: none;

  font-size: 15px;
  background-color: var(--audioplayer-bg-color);
  padding: 5px 5px;
  border-radius: 5px;

  min-height: 10px;
  min-width: 273px;
}

.ap-frame a,
a:hover a:visited {
  text-decoration: none;
  cursor: pointer;
}

#ap-div-playlist {
  margin-top: 7px;
  width: 260px;
}

.ap-separator {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  border-left: var(--audioplayer-separator-color) solid 1px;
}

.ap-disabled {
  color: var(--audioplayer-disabled-color) !important;
  opacity: 0.3 !important;
  pointer-events: none;
}

.ap-hidden {
  display: none !important;
}

.ap-button {
  margin-right: 3px;
  margin-left: 3px;
  color: var(--audioplayer-button-color);
}

.ap-button:hover {
  color: var(--audioplayer-button-hover-color);
  transform: scale(1.1);
  display: inline-block;
}

.ap-button:active {
  transform: scale(0.9);
}

#ap-div-time {
  display: inline;
  margin-left: 3px;
}

#ap-text-time,
#ap-text-volume {
  display: inline;
  visibility: hidden;
  background-color: black !important;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  pointer-events: none;
  z-index: 13;
}

#ap-div-time:hover #ap-text-time {
  visibility: visible;
  min-width: 100px;
}

#ap-div-volume {
  display: inline;
}

#ap-div-volume:hover #ap-slider-volume {
  display: inline !important;
}

#ap-slider-volume {
  width: 30px;
}

#ap-div-volume:hover #ap-text-volume {
  visibility: visible;
}

#ap-div-volume:hover #ap-slider-volume {
  display: inline-block !important;
}

#ap-button-playlist {
  margin-left: 5px;
}

.ap-slider {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
  margin-left: 2px;
  margin-right: 5px;
  cursor: pointer;

  user-select: initial;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  width: 60px;
  background: var(--audioplayer-slider-right-bg-color);
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 3px;
  overflow: hidden;
}

.ap-slider:hover {
  background: var(--audioplayer-slider-hover-right-bg-color);
}

.ap-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 5px;
  background: var(--audioplayer-slider-left-bg-color);
  border-radius: 5px;
  box-shadow: -100vw 0 0 100vw var(--audioplayer-slider-left-bg-color);
}
.ap-slider:hover::-webkit-slider-thumb {
  background: var(--audioplayer-slider-hover-left-bg-color);
  box-shadow: -100vw 0 0 100vw var(--audioplayer-slider-hover-left-bg-color);
}

/* ************* PLAYLIST ************* */

#ap-div-playlist-tracks {
  clear: both;
  margin: 3px 2px 3px 2px;
  padding: 5px;
  background-color: var(--audioplayer-tracks-bg-color);
  border-radius: 5px;
  min-height: 0px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#ap-div-playlist-tracks::-webkit-scrollbar {
  width: 5px;
}

.ap-div-playlist-track {
  font-size: 11px;
  width: 100%;
  padding: 2px;
  cursor: pointer;
  color: var(--audioplayer-track-text-color);
}

.ap-div-playlist-track:hover {
  background-color: var(--audioplayer-track-hover-bg-color) !important;
  color: var(--audioplayer-track-hover-text-color) !important;
}

.ap-span-playlist-track-time {
  /* font-family: monospace; */
  float: right;
}

.ap-span-playlist-track-title {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 195px;
  /* ellipsis on the left */
  direction: rtl;
  text-align: left;
}

.ap-div-playlist-current-track {
  color: var(--audioplayer-track-current-text-color) !important;
  background-color: var(--audioplayer-track-current-bg-color);
}

.ap-div-playlist-selected-track {
  background-color: var(--audioplayer-track-selected-bg-color);
  color: var(--audioplayer-track-selected-text-color);
}

#ap-span-playlist-buttons-right {
  float: right;
  display: inline;
  margin-top: 3px;
  margin-right: 5px;
}

#ap-span-playlist-buttons-left {
  float: left;
  display: inline;
  margin-top: 3px;
  margin-left: 5px;
}

#ap-button-shuffle-on,
#ap-button-shuffle-off {
  margin-right: 8px;
}

#ap-button-save {
  margin-left: 7px;
}
