:root {
  --hs-fireworks-color: rgb(223, 163, 53);
}

#home-screen {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: var(--hs-bg-color);
  user-select: none;
}

#hs-content {
  display: flex;
  flex-direction: column;
  width: 1024px;
  max-width: 1024px;
  padding: 50px;
  padding-bottom: 0px;
  color: var(--hs-text-color);
}

#hs-content button {
  padding: 15px;
  border: none;
  background-color: var(--hs-button-normal-bg-color);
  color: var(--hs-button-normal-text-color);
  font-weight: 600;
  width: 100%;
  margin: 5px 0;
  border-radius: 3px;
}

#hs-content button:hover {
  /* filter: brightness(1.2); */
  background-color: var(--hs-button-normal-bg-hover-color);
  transform: scale(1.01);
  cursor: pointer;
}

#hs-content button:active {
  transform: translateY(1px);
}

.hs-button-accent {
  background-color: var(--hs-button-accent-bg-color) !important;
  color: var(--hs-button-accent-text-color) !important;
}

/* *********************** */

.hs-section-title {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
  text-align: start;
  font-size: 16px;
  margin: 0px 7px 30px 7px;
  align-items: center;
  margin-inline-end: 2px;
  position: relative;
}
.hs-section-title[draggable="true"]:active:not(:has(:active))
  .hs-section-title-icon:after {
  position: absolute;
  left: -30px;
  font: var(--fa-font-solid);
  content: "\f338";
  font-size: 19px;
  opacity: 0.6;
}

.hs-section-title-dragging {
  opacity: 0.25;
}
.hs-section-title-dragging-over {
  border: 4px dashed var(--hs-path-card-text-color);
}

.hs-section-title-text {
  pointer-events: none;
}

.hs-section-title-icon {
  margin-inline-end: 7px;
}

.hs-section-title:has(.hs-section-title-buttons) {
  justify-content: space-between;
}

.hs-section-title-buttons {
  display: flex;
  flex-direction: row;
  margin-inline-end: 2px;
  gap: 5px;
}

.hs-section-title-button {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-inline-end: 8px; */
  color: var(--hs-button-normal-bg-color);
}

.hs-section-title-button:hover {
  color: var(--hs-button-normal-bg-hover-color);
  cursor: pointer;
}

.hs-section-title-button:active {
  transform: translateY(1px);
}

.hs-section-title-button i {
  transition: transform 0.2s ease-in-out;
}

.hs-section-title-button:hover i {
  transform: scale(1.2);
}

.hs-section-content {
  margin-bottom: 30px;
}

/*  */

.hs-section-bottom-button {
  margin-top: 7px;
  display: flex;
  justify-content: center;
  position: relative;
  height: 8px;
}
.hs-section-bottom-button-ellipsis:hover {
  cursor: pointer;
}
.hs-section-bottom-button-ellipsis:after {
  position: absolute;
  font: var(--fa-font-solid);
  content: "\f141";
}
.hs-section-bottom-button-ellipsis:hover:after {
  position: absolute;
  font: var(--fa-font-solid);
  content: "\f107";
  font-size: larger;
}
.hs-section-bottom-button-collapse:hover {
  cursor: pointer;
}
.hs-section-bottom-button-collapse:hover:after {
  position: absolute;
  font: var(--fa-font-solid);
  content: "\f106";
  font-size: larger;
}

/* *********************** */

#hs-logo-open {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 45px;
}

#hs-logo-open button {
  max-width: 500px !important;
}

#hs-logo-image {
  display: inline-block;
}

#hs-logo-image img {
  width: 150px;
  opacity: var(--hs-logo-opacity);
}

/* animations ref: https://codepen.io/nelledejones/pen/gOOPWrK */

.hs-animate-gelatine {
  animation: hs-animation-gelatine 0.5s;
}
@keyframes hs-animation-gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.hs-animate-hello {
  animation: hs-animation-hello 1s ease;
}
@keyframes hs-animation-hello {
  0% {
    transform: scale(1.05);
  }
  10%,
  30% {
    transform: rotate(-20deg) scale(1.05);
  }
  20% {
    transform: rotate(20deg) scale(1.05);
  }
  40% {
    transform: rotate(0deg) scale(1.05);
  }
  70% {
    transform: scale(1);
  }
}

.hs-animate-bounce {
  animation: hs-animation-bounce 2s ease;
}

@keyframes hs-animation-bounce {
  0% {
    transform: translateY(0%);
  }
  10% {
    transform: translateY(-15%);
  }
  20% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-7%);
  }
  27% {
    transform: translateY(0%);
  }
  29% {
    transform: translateY(-3%);
  }
  30% {
    transform: translateY(0);
  }
}

/* *********************** */

#hs-logo-small-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* *********************** */

.hs-logo-button {
  font-size: 20px;
  width: 45px;
  height: 30px;
  min-width: 45px;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--hs-button-normal-bg-color);
}
#hs-logo-browser-button {
  font-size: 18px;
}

.hs-logo-button:hover {
  color: var(--hs-button-normal-bg-hover-color);
  cursor: pointer;
}

.hs-logo-button:active {
  transform: translateY(1px);
}

.hs-logo-button i {
  transition: transform 0.2s ease-in-out;
}

.hs-logo-button:hover i {
  transform: scale(1.2);
}

/* *********************** */

#hs-logo-preferences-button i {
  transition: transform 0.2s ease-in-out;
}
#hs-logo-preferences-button:hover i {
  transform: rotate(60deg) scale(1.2);
}

/* *********************** */

#hs-logo-files-tools-button {
  font-size: 19.5px;
  width: 30px;
  margin-inline-start: -2px;
}

#hs-logo-files-tools-button i:last-child {
  color: var(--hs-bg-color);
  padding-top: 9px;
  transform: scale(0.85);
}
#hs-logo-files-tools-button:hover i:last-child {
  transform: scale(1.1);
}

/* *********************** */

/* ref: https://stackoverflow.com/questions/14202089/custom-hr-with-image-character-in-the-center */
.hs-hr {
  opacity: 0.7;
  text-align: center;
  line-height: 1px;
  height: 1px;
  font-size: 1em;
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--hs-path-card-bg-color);
  overflow: visible;
  box-sizing: content-box;
  /*  */
  width: 40%;
  margin: 10px auto 30px auto;
}

.hs-hr:after {
  /* content: "§"; */
  /* content: "★★★"; */
  content: "⬥";
  color: var(--hs-path-card-bg-color);
  display: inline;
  background-color: var(--hs-bg-color);
  padding: 0 0.5em;
}

/* *********************** */

.hs-path-cards-list {
  gap: 6px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
/* @media only screen and (max-width: 1024px) {
  .hs-path-cards-list {
    display: flex;
    flex-direction: column;
  }
} */
.hs-path-cards-list-single {
  gap: 6px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.hs-path-interactive {
  border: 1px solid transparent;
}
.hs-path-interactive:hover {
  background-color: var(--hs-button-normal-bg-hover-color);
  color: var(--hs-button-normal-text-color);

  transform: scale(1.03);
  cursor: pointer;
  border: 1px solid var(--hs-path-card-text-color);
}
.hs-path-interactive:active {
  transform: translateY(1px);
}
.hs-path-cards-list-single .hs-path-interactive:hover {
  transform: scale(1.01);
}

.hs-path-interactive-use-list-colors {
  background-color: var(--tools-bg2-color) !important;
  color: var(--tools-text-color) !important;
}
.hs-path-interactive-use-list-colors:hover {
  background-color: var(--tools-button-normal-bg-hover-color) !important;
  color: var(--tools-button-normal-text-color) !important;
}

.hs-path-empty {
  opacity: 0.5;
}

/* *********************** */

.hs-path-card {
  display: flex;
  flex-direction: row;
  align-content: center;
  color: var(--hs-path-card-text-color);
  gap: 3px;
  min-height: 80px;
}

.hs-path-card-main {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background-color: var(--hs-path-card-bg-color);
  border-radius: 10px;
}
.hs-path-card:has(.hs-path-card-button) .hs-path-card-main {
  border-end-end-radius: 0px;
  border-start-end-radius: 0px;
}

.hs-path-card-main-dragging {
  opacity: 0.25;
}
.hs-path-card-main-dragging-over {
  border: 5px dashed var(--hs-path-card-text-color);
}

.hs-path-card-image {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 10px;
  pointer-events: none;
}

.hs-path-card-favminiicon {
  position: absolute;
  top: 0px;
  right: 6px;
  font-size: 10px;
  /* color: var(--hs-path-card-text-color);
  background-color: var(--hs-path-card-bg-color); */
  pointer-events: none;
}
.hs-path-card-favminiicon {
  position: absolute;
  top: 0px;
  right: 6px;
  font-size: 10px;
  /* color: var(--hs-path-card-text-color);
  background-color: var(--hs-path-card-bg-color); */
  pointer-events: none;
}
html[dir="rtl"] .hs-path-card-favminiicon {
  right: auto;
  left: 6px;
}

.hs-path-card-dragminiicon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 13px;
  pointer-events: none;
  opacity: 0.4;
  display: none;
}
.hs-path-card-main:hover .hs-path-card-dragminiicon {
  display: inline;
}
.hs-path-card-main:active .hs-path-card-dragminiicon,
.hs-path-card-main.hs-path-card-main-dragging .hs-path-card-dragminiicon {
  opacity: 1;
}

.hs-path-card-percentageBar {
  position: absolute;
  left: 0;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--hs-path-card-text-color);
  pointer-events: none;
  opacity: 0.2;
  border: 0px;
  border-end-start-radius: 10px;
  border-start-start-radius: 10px;
  clip-path: polygon(
    0 calc(100% - 3px),
    100% calc(100% - 3px),
    100% 100%,
    0 100%
  );
}
html[dir="rtl"] .hs-path-card-percentageBar {
  right: 0;
}

.hs-path-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  flex-grow: 1;
  gap: 5px;
  pointer-events: none;
}

.hs-path-card-content span {
  word-break: break-all;
}

.hs-path-card-content span:first-child {
  font-weight: bolder;
}

.hs-path-card-content span:last-child:not(:first-child) {
  font-size: 12px;
  font-style: italic;
}

.hs-path-card-button {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 10px;
  background-color: var(--hs-path-card-bg-color);
  border-end-end-radius: 10px;
  border-start-end-radius: 10px;
}

/* *********************** */

.hs-add-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: color-mix(
    in srgb,
    var(--hs-path-card-bg-color) var(--hs-add-card-bg-pct),
    transparent
  );
  color: color-mix(in srgb, var(--hs-path-card-text-color) 60%, transparent);
  border-radius: 10px;
  border: 1px dashed
    color-mix(in srgb, var(--hs-path-card-text-color) 20%, transparent);
  min-height: 80px;
}

.hs-add-card:hover {
  background-color: var(--hs-path-card-bg-color);
  color: var(--hs-path-card-text-color);
  border: 1px dashed var(--hs-path-card-text-color);
}

/* ************ FOOTER ************** */

#hs-footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

/* *********************** */

#hs-addlist {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  display: flex;
  /* justify-content: center; */
  /* padding: 40px 10px 40px 10px; */
  padding: 20px 5px 0px 5px;
}
#hs-addlist-add-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 50px; */
  margin: 30px, auto;
  color: var(--hs-button-normal-text-color);
  background-color: var(--hs-button-normal-bg-color);
  /* border-radius: 5px; */
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#hs-addlist-add-button i::after {
  position: absolute;
  right: 8px;
  top: 8px;
  font: var(--fa-font-solid);
  content: "\2b";
  font-size: 9px;
}
#hs-addlist-add-button:hover {
  background-color: var(--hs-button-normal-bg-hover-color);
  cursor: pointer;
  transform: scale(1.03);
  transform-origin: bottom;
}

/* ************************ */

/* ref: https://alvaromontoro.com/blog/68002/creating-a-firework-effect-with-css */
.hs-animate-fireworks,
.hs-animate-fireworks::before,
.hs-animate-fireworks::after {
  --top: 60vh;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5vmin;
  aspect-ratio: 1;
  background: radial-gradient(
        circle,
        var(--hs-fireworks-color) 0.2vmin,
        #0000 0
      )
      50% 00%,
    radial-gradient(circle, var(--hs-fireworks-color) 12.3vmin, #0000 0) 00% 50%,
    radial-gradient(circle, var(--hs-fireworks-color) 110.5vmin, #0000 0) 50%
      99%,
    radial-gradient(circle, var(--hs-fireworks-color) 120.2vmin, #0000 0) 99%
      50%,
    radial-gradient(circle, var(--hs-fireworks-color) 10.3vmin, #0000 0) 80% 90%,
    radial-gradient(circle, var(--hs-fireworks-color) 112.5vmin, #0000 0) 95%
      90%,
    radial-gradient(circle, var(--hs-fireworks-color) 10.5vmin, #0000 0) 10% 60%,
    radial-gradient(circle, var(--hs-fireworks-color) 115.2vmin, #0000 0) 31%
      80%,
    radial-gradient(circle, var(--hs-fireworks-color) 210.3vmin, #0000 0) 80%
      10%,
    radial-gradient(circle, var(--hs-fireworks-color) 18.2vmin, #0000 0) 90% 23%,
    radial-gradient(circle, var(--hs-fireworks-color) 10.3vmin, #0000 0) 45% 20%,
    radial-gradient(circle, var(--hs-fireworks-color) 110.5vmin, #0000 0) 13%
      24%;
  background-size: 1vmin 1vmin;
  background-repeat: no-repeat;
  animation: hs-animation-firework 2s normal forwards;
}

.hs-animate-fireworks::before {
  transform: translate(-50%, -50%) rotate(25deg) !important;
}

.hs-animate-fireworks::after {
  transform: translate(-50%, -50%) rotate(-37deg) !important;
}

@keyframes hs-animation-firework {
  0% {
    transform: translate(-50%, 60vh);
    width: 0.5vmin;
    opacity: 1;
  }
  50% {
    width: 0.5vmin;
    opacity: 1;
  }
  100% {
    width: 85vmin;
    opacity: 0;
  }
}
