:root {
  --zoom-height-scale: 100;
  --zoom-height-borders: 62px;
  --zoom-epub-ebook-scale-factor: 1;
  --zoom-width-page1: 50%;
  --zoom-width-page2: 50%;

  --page-filter-custom-invert: 0;
  --page-filter-custom-hue-rotate: 0deg;
  --page-filter-custom-brightness: 1;
  --page-filter-custom-contrast: 1;
  --page-filter-custom-saturation: 1;
  --page-filter-custom-sepia: 0;
}

#reader {
  margin-bottom: 30px;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.keep-gutter-space {
  scrollbar-gutter: stable !important;
}

#reader:has(> #pages-container:empty) {
  margin-bottom: 0px !important;
}
#reader:has(> #pages-container:empty) > .info-anchor {
  display: none !important;
}
#reader:has(> #pages-container:empty) > #toolbar {
  display: none !important;
}

/* PAGES *********************************************************/

#pages-container {
  height: 100%;
  margin: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  /* pointer-events: none; */
  user-select: none;
}

.pages-row {
  display: flex;
  flex-direction: row;
}
.pages-rtl > .pages-row {
  flex-direction: row-reverse;
}

.pages-row-hidden-rendering {
  position: absolute;
  filter: opacity(0);
}

.pages-row-2p {
  justify-content: center;
  align-items: center;
}

.pages-row-2p .page {
  height: inherit;
  width: inherit;
}

.page {
  /* pointer-events: none; */
  user-select: none;
}

.page-filter-old-page {
  filter: brightness(80%) saturate(90%) sepia(40%);
}

.page-filter-custom {
  /* will be filled from js */
}

.set-rotate-180 {
  transform: rotate(180deg);
}

/* ZOOM  *********************************************************/

.set-scale-to-height {
  --scale-to-height-size: calc(
    100vh * var(--zoom-height-scale) / 100 - var(--zoom-height-borders)
  );
  height: var(--scale-to-height-size);
}

.set-scale-to-height > .pages-row {
  height: calc(var(--scale-to-height-size));
}

/* fit to height */

.set-fit-to-height {
  height: 100% !important;
}

.set-fit-to-height > .pages-row {
  height: calc(100vh - var(--zoom-height-borders));
}

/* fit to width */

.set-fit-to-width > .pages-row {
  width: 100%;
}
.set-fit-to-width .page {
  width: 100%;
}

.set-fit-to-width .page-1 {
  width: var(--zoom-width-page1);
}
.set-fit-to-width .page-2 {
  width: var(--zoom-width-page2);
}
.set-fit-to-width .page-centered {
  width: 50%;
}

/* fit to both */

/* pages-row is made the right size from a javascript resizer and this css forces the pages inside to expand, align, and fill it while not deforming */

.set-fit-to-both {
  height: 100% !important;
}

/* center pages-row */
.set-fit-to-both > .pages-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  /* flicker fix for javascript resizer transition */
  opacity: 0;
}

/* flicker fix*/
.set-fit-to-both > .pages-row[style*="width"] {
  opacity: 1;
}

/* fit height and allow width to scale naturally */
/* valid for images, canvas is overruled below */
.set-fit-to-both .page {
  height: 100% !important;
  width: auto !important;
  max-width: none !important;
  max-height: none !important;
  /* don't let flexbox change the width (grow shrink basis) */
  flex: 0 0 auto !important;
  object-fit: contain;
}

/* force the canvas box to fill pages-row's bounds */
.set-fit-to-both .page-canvas {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
  display: block !important; /* strip default canvas inline spacing */
  object-fit: contain;
}

/* single page fallback */
.set-fit-to-both .page:not(.page-1):not(.page-2):not(.page-centered) {
  max-width: 100% !important;
}

/* INFO *********************************************************/

.info-anchor {
  position: fixed;
  border: 0;
  z-index: 9;
  user-select: none;
  pointer-events: none;

  display: flex;
  flex-direction: row;
  gap: 3px;
}

.info-anchor-top {
  top: calc(var(--menubar-height));
  margin-top: 10px;
}

.info-anchor-bottom {
  bottom: calc(var(--toolbar-height));
  margin-bottom: 10px;
}

.info-anchor-left {
  left: 10px;
}

.info-anchor-right {
  right: 25px;
  align-items: end;
}

.info-anchor-center {
  width: 100%;
  justify-content: center;
}

.info-bubble {
  font-size: 15px;
  color: white;
  opacity: 0.5;
  background-color: rgb(109, 109, 109);
  padding: 2px 5px;
  border-radius: 5px;
  width: fit-content;
  white-space: nowrap;
  direction: ltr;
  line-height: 100%;
}
