#tools {
  z-index: 100;
  position: absolute;
  top: 32px;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    to right,
    var(--tools-bg1-color) 0%,
    var(--tools-bg1-color) 50%,
    var(--tools-bg2-color) 50%,
    var(--tools-bg2-color) 100%
  );
  overflow: auto;
  scrollbar-gutter: stable;
  user-select: none;
}

#tools-columns {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 100%;
  font-size: 14px;
  color: var(--tools-text-color);
}

#tools-columns-left {
  width: 400px;
  font-size: 18px;
  background-color: var(--tools-bg1-color);
}

#tools-columns-right {
  width: 100%;
  min-height: 100%;
  background-color: var(--tools-bg2-color);
  padding: 30px;
  height: fit-content;
}

.tools-columns-right-section {
  margin-bottom: 20px;
}

#tools-menu-sticky-div {
  padding: 30px;
  background-color: var(--tools-bg1-color);
  position: sticky;
  top: 0;
  left: 0;
  /* height: 100px; */
}
#tools-menu-sticky-div i {
  margin-right: 5px;
}

#tools-title {
  text-align: right;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
}

/* /////////////////////////////////////////////////////////////// */

@media (max-width: 1200px) {
  #tools-columns {
    display: relative;
    top: 0;
    left: 0;
    width: 100%;
  }

  #tools-columns-left {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    min-width: 250px;
  }

  #tools-columns-right {
    width: 100%;
    position: relative;
    top: 0;
    left: 250;
  }
}

/* /////////////////////////////////////////////////////////////// */

#tools button {
  padding: 10px;
  border: none;
  background-color: var(--tools-button-normal-bg-color);
  color: var(--tools-button-normal-text-color);
  font-weight: 600;
  width: 100%;
  margin: 5px 0;
  border-radius: 3px;
}

.tools-disabled {
  pointer-events: none;
  cursor: default;
  filter: opacity(0.2) grayscale(1);
}

.tools-read-only {
  filter: opacity(0.7) !important;
  cursor: default;
  pointer-events: none;
}

#tools button:hover {
  filter: brightness(1.2);
  transform: scale(1.01);
  cursor: pointer;
}

#tools button:active {
  transform: translateY(1px);
}

.tools-button-accent {
  background-color: var(--tools-button-accent-bg-color) !important;
  color: var(--tools-button-accent-text-color) !important;
}

.tools-button-danger {
  background-color: var(--tools-button-danger-bg-color) !important;
  color: var(--tools-button-danger-text-color) !important;
}

/* /////////////////////////////////////////////////////////////// */

.tools-menu-button {
  padding: 10px 30px 10px 30px;
  margin-bottom: 10px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  margin: 5px 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.tools-menu-button-icon {
  padding-right: 15px;
  max-width: 30px;
}

.tools-menu-button:hover {
  background-color: var(--tools-button-accent-bg-color);
  color: var(--tools-button-accent-text-color);
}
.tools-menu-button-selected {
  background-color: var(--tools-bg2-color);
  pointer-events: none;
  cursor: default;
}

.tools-menu-separator {
  border-top: 2px dashed var(--tools-bg2-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

/* /////////////////////////////////////////////////////////////// */

#tools h3 {
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  display: block;
  width: 100%;
  text-transform: uppercase;
  border-bottom: 1px solid var(--tools-text-color);
  font-size: 14px;
}

.tools-h3-extra-margin-top {
  margin-top: 20px !important;
}

.tools-h3-extra-margin-top-2 {
  margin-top: 30px !important;
}

#tools input[type="text"],
#tools input[type="number"] {
  width: 100%;
  height: 35px;
  padding: 5px;
  background-color: var(--tools-input-bg-color);
  color: var(--tools-input-text-color);
  border: 1px solid var(--tools-input-border-color);
  font-size: 13px;
  text-indent: 4px;
  user-select: text;
  overflow-wrap: anywhere;
}

#tools select {
  width: 100%;
  height: 35px;
  padding: 5px;
  background-color: var(--tools-input-bg-color);
  color: var(--tools-input-text-color);
  border: 1px solid var(--tools-input-border-color);
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  overflow-wrap: anywhere;
}

#tools select:hover {
  transform: scale(1.005);
}

#tools select option {
  padding: 15px;
}

.tools-checkbox-container {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#tools input[type="checkbox"] {
  /* change "blue" browser chrome to yellow */
  /* filter: invert(100%) hue-rotate(18deg) brightness(0.8); */
  accent-color: var(--tools-button-accent-bg-color);
  cursor: pointer;
  margin-right: 10px;
}

#tools label textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  background-color: var(--tools-input-bg-color);
  color: var(--tools-input-text-color);
  border: 1px solid var(--tools-input-border-color);
  font-size: 13px;
  user-select: text;
  resize: none;
}

#tools label {
  margin: 10px 0px 10px 0px;
  display: inline-block;
  width: 100%;
  overflow-wrap: anywhere;
}
#tools label i {
  margin-left: 10px;
}
#tools label span {
  overflow: hidden;
  white-space: nowrap;
}

#tools label > select,
#tools label > input,
#tools label > ul,
#tools label > textarea,
.tools-checkbox-container,
.tools-text-paragraphs {
  margin-top: 15px;
}

#tools label > input[type="text"]:read-only,
#tools label > input[type="number"]:read-only,
#tools label > textarea:read-only {
  filter: opacity(0.7);
}

.tools-text-paragraphs p {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 120%;
}

.tools-range-wrap {
  position: relative;
}
.tools-range {
  margin-top: 16px;
  margin-bottom: -10px;
  padding: 0;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 8px;
  background: var(--tools-input-bg-color);
}
.tools-range::-webkit-slider-runnable-track {
  background: var(--tools-input-bg-color);
  border-radius: 8px;
  height: 8px;
}
.tools-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--tools-input-text-color);
  height: 15px;
  width: 20px;
  margin-top: -3px;
  border-radius: 5px;
}
.tools-range::-webkit-slider-thumb:hover {
  transform: scale(1.1);
}
.tools-range::-webkit-slider-thumb:active {
  transform: scale(1);
}
.tools-range:focus::-webkit-slider-runnable-track {
  background: var(--tools-input-bg-color);
}

.tools-range-bubble {
  background: var(--tools-input-bg-color);
  color: var(--tools-input-text-color);
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  top: -80%;
  transform: translateX(-30%);
  pointer-events: none;
  z-index: 101;
  white-space: nowrap;
}

.tools-html-div {
  margin-top: 15px;
  padding: 20px;
  /* background-color: var(--tools-input-bg-color);
  color: var(--tools-input-text-color); */
  border: 1px solid var(--tools-input-border-color);
}
.tools-html-div p,
.tools-html-div h1,
.tools-html-div h2,
.tools-html-div h3,
.tools-html-div h4,
.tools-html-div ul {
  margin-top: 20px !important;
  line-height: 150%;
}

.tools-html-div li {
  margin-left: 30px !important;
}

/* /////////////////////////////////////////////////////////////// */

/* .tools-collection-ul {
} */

.tools-collection-li {
  padding: 10px;
  background-color: var(--tools-collection-bg-color);
  border: 1px solid var(--tools-collection-text-color);
  border-bottom: 0px;
  color: var(--tools-collection-text-color);
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.tools-collection-li:last-child {
  border-bottom: 1px solid var(--tools-collection-text-color);
}

.tools-collection-li-button {
  cursor: pointer;
}
.tools-collection-li-button:hover {
  transform: scale(1.2);
  filter: brightness(1.2);
}
.tools-collection-li-button:last-child {
  margin-left: auto;
}

.tools-collection-li-button-extra-padding {
  padding: 5px;
}

.tools-collection-li-multiline-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.tools-collection-li-multiline-text span:last-child:not(:first-child) {
  font-style: italic;
}

.tools-collection-pagination {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

.tools-collection-pagination span {
  margin-right: 5px;
}

.tools-collection-pagination-button {
  cursor: pointer;
  display: inline-block;
}

.tools-collection-pagination-button:hover i {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.tools-collection-navigation-back {
  cursor: pointer;
  margin-bottom: 20px;
  display: inline-block;
}
.tools-collection-navigation-back:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.tools-collection-selectable {
  cursor: auto;
  user-select: text;
  pointer-events: all;
}

/* /////////////////////////////////////////////////////////////// */

.tools-table {
  width: 100%;
  background-color: var(--tools-input-bg-color);
  color: var(--tools-input-text-color);
  border: 1px solid var(--tools-input-border-color);
  border-bottom: 0px;
  font-size: 13px;
  table-layout: fixed;
  border-collapse: collapse;
}

.tools-table tr {
  height: 35px;
  border-bottom: 1px solid var(--tools-input-border-color);
}

.tools-table th,
.tools-table td {
  padding: 5px;
  text-align: center;
  border-right: 1px solid var(--tools-input-border-color);
  font-weight: bold;
}
.tools-table th:last-child,
.tools-table td:last-child {
  border-right: 0px;
}

/* /////////////////////////////////////////////////////////////// */

.tool-shared-columns-parent {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  /* min-width: 550px; */
  width: 100%;
}

.tool-shared-columns-50 {
  flex: 0 1 50%;
}

.tool-shared-columns-50-grow {
  flex: 1 0 50%;
}

.tool-shared-columns-35 {
  flex: 0 1 35%;
}

.tool-shared-columns-25 {
  flex: 0 1 25%;
}

.tool-shared-columns-25-grow {
  flex: 1 0 25%;
}

.tool-shared-columns-15 {
  flex: 0 1 15%;
}

#tool-shared-image-container {
  height: 400px;
  width: 100%;
}

#tool-shared-image-container img {
  max-width: 100%;
}

/* /////////////////////////////////////////////////////////////// */

#tool-ep-palette {
  height: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: rgb(155, 155, 155) 1px solid;
  user-select: text;

  /* ref: https://programming.vip/docs/three-ways-of-realizing-transparent-grid-with-css.html */
  background-image: repeating-conic-gradient(#7f7f7f 0 25%, transparent 0 50%);
  background-size: 16px 16px;
  background-color: #666666;
}

#tool-ep-palette div {
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

#tool-ep-palette div div {
  color: white;
  background-color: black;
  /* mix-blend-mode: difference; */
  padding: 5px;
  height: 30px;
  font-size: 15px;
}

/* /////////////////////////////////////////////////////////////// */

#tool-et-textarea-output,
#tool-eq-textarea-output {
  height: 400px;
  width: 100%;
  padding: 5px;
  border-color: rgb(155, 155, 155);
  resize: none;
  margin: 0px;
  display: block;
}

/* /////////////////////////////////////////////////////////////// */

#tool-cq-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#tool-cq-textarea-input {
  height: 400px;
  width: 100%;
  padding: 5px;
  border-color: rgb(155, 155, 155);
  resize: none;
  margin: 0px;
  display: block;
  cursor: auto;
}

#tool-cq-image-container {
  height: 400px;
  width: 100%;
  border: rgb(155, 155, 155) 1px solid;
  /* ref: https://programming.vip/docs/three-ways-of-realizing-transparent-grid-with-css.html */
  background-image: repeating-conic-gradient(#7f7f7f 0 25%, transparent 0 50%);
  background-size: 16px 16px;
  background-color: #666666;
}
