#tools:not(:has(iframe)) {
  z-index: 100;
  position: absolute;
  top: calc(var(--menubar-height));
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    to right,
    var(--tools-bg1-color) 0%,
    var(--tools-bg1-color) 50%,
    var(--tools-bg2-color) 50%,
    var(--tools-bg2-color) 100%
  );
  overflow: auto;
  scrollbar-gutter: stable;
  user-select: none;
}
html[dir="rtl"] #tools:not(:has(iframe)) {
  background: linear-gradient(
    to right,
    var(--tools-bg2-color) 0%,
    var(--tools-bg2-color) 50%,
    var(--tools-bg1-color) 50%,
    var(--tools-bg1-color) 100%
  );
}
#tools *:not([data-nav-panel]) {
  outline: none;
}

#tools:has(iframe) {
  z-index: 100;
  position: absolute;
  top: calc(var(--menubar-height));
  bottom: 0;
  left: 0;
  width: 100%;
  user-select: none;
}

#tools-columns {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 100%;
  font-size: 14px;
  color: var(--tools-text-color);
  background-color: var(--tools-bg2-color);
}

#tools-columns-left {
  width: 400px;
  font-size: 18px;
  background-color: var(--tools-bg1-color);
  padding-top: 5px;
}

#tools-columns-right {
  width: 100%;
  min-height: 100%;
  background-color: var(--tools-bg2-color);
  padding: 30px;
  height: fit-content;
  overflow-x: hidden;
}

.tools-columns-right-section {
  margin-bottom: 20px;
}

.tools-columns-right-subsection {
  padding: 15px 20px 20px 20px;
  margin-bottom: 10x;
  /* background-color: color-mix(in srgb, var(--tools-bg2-color) 96%, black); */
  /* border: 1px solid var(--tools-input-border-color); */
  background-color: var(--tools-bg1-color);
  /* border-left: 1px solid var(--tools-input-border-color); */
}

/* /////////////////////////////////////////////////////////////// */

#tools-menu-sticky-div {
  background-color: var(--tools-bg1-color);
  position: sticky;
  top: 0;
  left: 0;
}

#tools-menu-non-sticky-div {
  background-color: var(--tools-bg1-color);
}

.tools-menu-buttons {
  padding: 30px;
}
.tools-menu-buttons i {
  margin-right: 5px;
}

/* /////////////////////////////////////////////////////////////// */

#tools-title {
  text-align: end;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
}

#tools-title span {
  background-color: var(--tools-bg1-color);
  padding: 10px;
  /* border-right: 2px solid var(--tools-input-border-color); */
}

/* /////////////////////////////////////////////////////////////// */

@media (max-width: 1200px) {
  #tools-columns {
    display: relative;
    top: 0;
    left: 0;
    width: 100%;
  }

  #tools-columns-left {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    min-width: 250px;
  }

  #tools-columns-right {
    width: 100%;
    position: relative;
    top: 0;
    left: 250;
  }
}

/* /////////////////////////////////////////////////////////////// */

.tools-disabled {
  pointer-events: none;
  cursor: default;
  filter: opacity(0.2) grayscale(1);
}

.tools-read-only {
  filter: opacity(0.7) !important;
  cursor: default;
  pointer-events: none;
}

/* /////////////////////////////////////////////////////////////// */

#tools button {
  padding: 15px;
  border: none;
  background-color: var(--tools-button-normal-bg-color);
  color: var(--tools-button-normal-text-color);
  font-weight: 600;
  width: 100%;
  height: 100%;
  margin: 5px 0;
  border-radius: 3px;
}

#tools button:hover {
  background-color: var(--tools-button-normal-bg-hover-color);
  transform: scale(1.01);
  cursor: pointer;
}

#tools button:active {
  transform: translateY(1px);
}

/* .tools-button-accent {
  background-color: var(--tools-button-accent-bg-color) !important;
  color: var(--tools-button-accent-text-color) !important;
} */

html[dir="rtl"] .tools-button-accent i {
  transform: scale(-1, 1);
}

.tools-button-danger {
  background-color: var(--tools-button-danger-bg-color) !important;
  color: var(--tools-button-danger-text-color) !important;
}

.tools-input-label-button {
  padding: 0px !important;
  height: 35px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px 0px 0px 0px !important;
}

/* /////////////////////////////////////////////////////////////// */

.tools-menu-buttons button:not(.tools-button-accent) {
  background-color: var(--tools-button-accent-bg-color) !important;
  color: var(--tools-button-accent-text-color) !important;
}

.tools-menu-button {
  padding: 10px 30px;
  margin-bottom: 10px;
  border: none;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  margin: 5px 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border-end-start-radius: 3px;
  border-start-start-radius: 3px;
  align-items: center;
}

.tools-menu-button-icon {
  padding-inline-end: 30px;
  max-width: 0px;
  align-content: center;
  justify-content: center;
}

.tools-menu-button:hover {
  background-color: var(--tools-button-normal-bg-hover-color);
  color: var(--tools-button-normal-text-color);
  border-radius: 5px;
}
.tools-menu-button-selected {
  background-color: var(--tools-bg2-color);
  pointer-events: none;
  cursor: default;
}

.tools-menu-separator {
  border-top: 2px dashed var(--tools-bg2-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

/* /////////////////////////////////////////////////////////////// */

#tools h3 {
  /* margin: 0 0 10px 0; */
  /* padding: 0 0 5px 0; */
  /* display: block; */
  /* width: 100%; */
  text-transform: uppercase;
  /* border-bottom: 1px solid var(--tools-text-color); */
  font-size: 14px;
  background-color: var(--tools-bg1-color);
  width: fit-content;
  padding: 10px;
  /* border-left: 1px solid var(--tools-input-border-color); */
}

.tools-h3-extra-margin-top {
  margin-top: 20px !important;
}

.tools-h3-extra-margin-top-2 {
  margin-top: 30px !important;
}

.tools-h3-regular-caps {
  text-transform: none !important;
}

.tools-h3-no-border {
  border-bottom: 0px !important;
}

/* /////////////////////////////////////////////////////////////// */

#tools input[type="text"],
#tools input[type="number"] {
  width: 100%;
  height: 35px;
  padding: 5px;
  background-color: var(--tools-input-bg-color);
  color: var(--tools-input-text-color);
  border: 1px solid var(--tools-input-border-color);
  font-size: 13px;
  text-indent: 4px;
  user-select: text;
  overflow-wrap: anywhere;
}

#tools input[type="text"]::placeholder,
#tools input[type="number"]::placeholder {
  filter: opacity(0.6);
}

#tools input[type="color"] {
  width: 98%;
  height: 35px;
  padding: 0px;
  background-color: var(--tools-input-bg-color);
  color: var(--tools-input-text-color);
  border: 1px solid var(--tools-input-border-color);
}

/* /////////////////////////////////////////////////////////////// */

#tools select {
  width: 100%;
  height: 35px;
  padding: 5px;
  background-color: var(--tools-input-bg-color);
  color: var(--tools-input-text-color);
  border: 1px solid var(--tools-input-border-color);
  font-size: 13px;
  cursor: pointer;
  border-radius: 5px;
  overflow-wrap: anywhere;
}

#tools select:hover {
  transform: scale(1.005);
}

#tools select option {
  padding: 15px;
}

/* /////////////////////////////////////////////////////////////// */

/* ref:  https://moderncss.dev/pure-css-custom-checkbox-style/ */

#tools input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  background-color: var(--tools-input-bg-color);
  margin: 0;
  font: inherit;
  color: var(--tools-input-text-color);
  width: 1.6em;
  height: 1.6em;
  min-width: 1.6em;
  min-height: 1.6em;
  border: 1px solid var(--tools-input-border-color);
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

#tools input[type="checkbox"]::before {
  content: "";
  width: 0.8em;
  height: 0.8em;
  min-width: 0.8em;
  min-height: 0.8em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  box-shadow: inset 1em 1em var(--tools-input-text-color);
  background-color: var(--tools-input-bg-color);
}

#tools input[type="checkbox"]:checked::before {
  transform: scale(1);
}

/* /////////////////////////////////////////////////////////////// */

/* ref: https://www.w3schools.com/howto/howto_css_switch.asp */

.tools-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  max-width: 50px;
  height: 27px;
}

.tools-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.tools-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--tools-input-bg-color);
  transition: 0.4s;
  border: 1px solid var(--tools-input-border-color);
  border-radius: 25px;
}
.tools-toggle-slider:hover {
  opacity: 1.1;
}

.tools-toggle-slider:before {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tools-input-bg-color);
  font-size: 10px;
  font-weight: bolder;
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 3px;
  background-color: var(--tools-input-text-color);
  transition: 0.4s;
  border-radius: 50%;
  /* content: "⨯"; */
  /* ref: https://stackoverflow.com/questions/14736496/use-font-awesome-icons-in-css */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00d";
  padding-inline-start: 0.5px;
}

input:checked + .tools-toggle-slider {
  background-color: var(--tools-input-bg-color);
  border: 1px solid var(--tools-input-border-color);
}

input:checked + .tools-toggle-slider:before {
  transform: translateX(22px);
  /* content: "✓"; */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  padding-inline-start: 1px;
}

/* /////////////////////////////////////////////////////////////// */

#tools label textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  background-color: var(--tools-input-bg-color);
  color: var(--tools-input-text-color);
  border: 1px solid var(--tools-input-border-color);
  font-size: 13px;
  user-select: text;
  resize: none;
}

#tools label {
  margin: 10px 0px 10px 0px;
  display: inline-block;
  width: 100%;
  overflow-wrap: anywhere;
}
#tools label i {
  margin-inline-start: 5px;
}
#tools label span {
  overflow: hidden;
  white-space: nowrap;
}

#tools label > select,
#tools label:not(.tools-checkbox-container) > input,
#tools label > ul,
#tools label > textarea,
.tools-checkbox-container {
  margin-top: 15px;
}

.tools-text-paragraphs {
  margin-top: 5px;
}

#tools label > input[type="text"]:read-only,
#tools label > input[type="number"]:read-only,
#tools label > textarea:read-only {
  filter: opacity(0.7);
}

.tools-text-paragraphs p {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 120%;
}

#tools textarea {
  background-color: var(--tools-input-bg-color);
  color: var(--tools-input-text-color);
}

/* /////////////////////////////////////////////////////////////// */

.tools-checkbox-container {
  cursor: pointer;
  display: flex !important;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

/* /////////////////////////////////////////////////////////////// */

.tools-range-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.tools-range {
  margin-top: 2px;
  margin-bottom: 0px;
  padding: 0;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 8px;
  background: var(--tools-input-bg-color);
  display: inline;
}
.tools-range::-webkit-slider-runnable-track {
  background: var(--tools-input-bg-color);
  border-radius: 8px;
  height: 8px;
}
.tools-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--tools-button-normal-bg-color);
  height: 15px;
  width: 20px;
  margin-top: -3px;
  border-radius: 5px;
}
.tools-range::-webkit-slider-thumb:hover {
  transform: scale(1.1);
  cursor: pointer;
  background: var(--tools-button-normal-bg-hover-color);
}
.tools-range::-webkit-slider-thumb:active {
  transform: scale(1);
}
.tools-range:focus::-webkit-slider-runnable-track {
  background: var(--tools-input-bg-color);
}

.tools-range-bubble {
  background: var(--tools-input-bg-color);
  color: var(--tools-input-text-color);
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  top: -80%;
  transform: translateX(-30%);
  pointer-events: none;
  z-index: 101;
  white-space: nowrap;
}

html[dir="rtl"] .tools-range-bubble {
  transform: translateX(30%);
}

.tools-range-ul {
  display: inline;
  min-width: 50px;
  height: 30px;
}

.tools-range-ul li {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* /////////////////////////////////////////////////////////////// */

.tools-html-div {
  margin-top: 15px;
  padding: 20px;
  /* background-color: var(--tools-input-bg-color);
  color: var(--tools-input-text-color); */
  border: 1px solid var(--tools-input-border-color);
  cursor: auto;
  user-select: text;
  pointer-events: all;
}
.tools-html-div p,
.tools-html-div h1,
.tools-html-div h2,
.tools-html-div h3,
.tools-html-div h4,
.tools-html-div ul {
  margin-top: 20px !important;
  line-height: 150%;
}

.tools-html-div li {
  margin-left: 30px !important;
}

/* /////////////////////////////////////////////////////////////// */

.tools-collection-ul {
  direction: ltr;
}

.tools-collection-ul:empty {
  border: 1px solid var(--tools-collection-border-color);
  height: 30px;
}

.tools-collection-li {
  padding: 10px;
  background-color: var(--tools-collection-bg-color);
  border: 1px solid var(--tools-collection-border-color);
  border-bottom: 0px;
  color: var(--tools-collection-text-color);
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.tools-collection-li:last-child {
  border-bottom: 1px solid var(--tools-collection-border-color);
}

.tools-collection-li-button {
  cursor: pointer;
  color: var(--tools-button-normal-bg-color);
}
.tools-collection-li-button:hover {
  transform: scale(1.2);
  /* filter: brightness(1.2); */
  color: var(--tools-button-normal-bg-hover-color);
}
.tools-collection-li-button:last-child {
  margin-left: auto;
}

.tools-collection-li-button-extra-padding {
  padding: 5px;
}

.tools-collection-li-buttonset {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 0px;
}
.tools-collection-li-buttonset > span {
  cursor: pointer;
  color: var(--tools-button-normal-bg-color);
}
.tools-collection-li-buttonset > span:hover {
  cursor: pointer;
  transform: scale(1.2);
  /* filter: brightness(1.2); */
  color: var(--tools-button-normal-bg-hover-color);
}
/* .tools-collection-li-buttonset > span:last-child {
  transform-origin: 100% 50%;
} */
.tools-collection-li-buttonset > span > i {
  margin-left: 0px !important;
  padding: 3px;
}

.tools-collection-li-multiline-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.tools-collection-li-multiline-text span:last-child:not(:first-child) {
  font-style: italic;
}

.tools-collection-pagination {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.tools-collection-pagination span {
  margin-right: 5px;
}

.tools-collection-pagination-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  background-color: var(--tools-button-normal-bg-color);
  color: var(--tools-collection-bg-color);
  border-radius: 3px;
}
.tools-collection-pagination-button:hover {
  transform: scale(1.1);
  background-color: var(--tools-button-normal-bg-hover-color);
}

.tools-collection-pagination-button-disabled {
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  background-color: var(--tools-collection-text-color);
  color: var(--tools-collection-bg-color);
  border-radius: 3px;
  filter: opacity(0.2);
}

.tools-collection-navigation-back {
  cursor: pointer;
  margin-bottom: 20px;
  display: inline-block;
}
.tools-collection-navigation-back:hover {
  transform: scale(1.1);
  background-color: var(--tools-button-normal-bg-hover-color);
}

.tools-collection-selectable {
  cursor: auto;
  user-select: text;
  pointer-events: all;
}

/* /////////////////////////////////////////////////////////////// */

.tools-table {
  width: 100%;
  background-color: var(--tools-input-bg-color);
  color: var(--tools-input-text-color);
  border: 1px solid var(--tools-input-border-color);
  border-bottom: 0px;
  font-size: 13px;
  table-layout: fixed;
  border-collapse: collapse;
}

.tools-table tr {
  height: 35px;
  border-bottom: 1px solid var(--tools-input-border-color);
}

.tools-table th,
.tools-table td {
  padding: 5px;
  text-align: center;
  border-right: 1px solid var(--tools-input-border-color);
  font-weight: bold;
}
.tools-table th:last-child,
.tools-table td:last-child {
  border-right: 0px;
}

/* /////////////////////////////////////////////////////////////// */

.tools-buttons-list-li {
  background-color: var(--tools-buttons-list-bg1-color);
  border: 1px solid var(--tools-buttons-list-border-color);
  border-bottom: 0px;
  color: var(--tools-buttons-list-text-color);
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  min-height: 45px;
}
.tools-buttons-list-li:last-child {
  border-bottom: 1px solid var(--tools-buttons-list-border-color);
}
.tools-buttons-list-li:nth-child(even) {
  background-color: var(--tools-buttons-list-bg2-color);
}

.tools-buttons-list-li-multiline-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 8px 0;
}
.tools-buttons-list-li-multiline-text span:first-child {
  font-weight: bold;
  font-size: 120%;
}
.tools-buttons-list-li-multiline-text span:last-child:not(:first-child) {
  font-style: italic;
  font-size: 80%;
  word-break: break-all;
}

.tools-buttons-list-button {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 15px;
  width: 50px;
  border-inline-start: 1px solid var(--tools-buttons-list-border-color);
  overflow: hidden;
}
.tools-buttons-list-button:hover {
  color: var(--tools-button-normal-text-color);
  background-color: var(--tools-button-normal-bg-hover-color);
}
.tools-buttons-list-button:hover .tools-buttons-list-linkicon-file,
.tools-buttons-list-button:hover .tools-buttons-list-linkicon-folder {
  color: var(--tools-buttons-list-text-color) !important;
}
.tools-buttons-list-button:first-child {
  width: 100%;
  border-inline-start: 0px;
  justify-content: flex-start;
}

.tools-buttons-list-button-disabled {
  pointer-events: none;
  cursor: default;
}
.tools-buttons-list-button-disabled i {
  filter: opacity(0.25);
}

.tools-buttons-list-linkicon-file {
  color: var(--tools-buttons-list-bg1-color) !important;
  padding-inline-start: 5px;
  padding-top: 5px;
}
.tools-buttons-list-linkicon-folder {
  color: var(--tools-buttons-list-bg1-color) !important;
  padding-inline-start: 10px;
  padding-top: 2px;
}

/* /////////////////////////////////////////////////////////////// */

.tools-tooltip-button:hover {
  color: var(--tools-button-normal-bg-hover-color);
  transform: scale(1.05);
  cursor: pointer;
}

.tools-tooltip-button:active {
  transform: translateY(1px);
}

/* /////////////////////////////////////////////////////////////// */

#tools-scroll-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 100;
  border: none;
  outline: none;
  background-color: var(--tools-button-normal-bg-color);
  color: var(--tools-button-normal-text-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#tools-scroll-to-top-button i {
  clear: both;
}

#tools-scroll-to-top-button:hover {
  background-color: var(--tools-button-normal-bg-hover-color);
  transform: scale(1.01);
  cursor: pointer;
}

/* /////////////////////////////////////////////////////////////// */

.tool-shared-columns-parent {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  /* min-width: 550px; */
  width: 100%;
  height: 45px;
}
.tool-shared-columns-parent:not(:has(div)) {
  /* like the ones in preferences */
  height: auto;
}
.tool-shared-columns-parent:has(div):has(ul) {
  /* like the ones in keymapping */
  height: auto;
}

.tool-shared-columns-parent-alignv {
  align-items: center;
}

.tool-shared-columns-50 {
  flex: 0 1 50%;
}

.tool-shared-columns-50-grow {
  flex: 1 0 50%;
}

.tool-shared-columns-35 {
  flex: 0 1 35%;
}

.tool-shared-columns-25 {
  flex: 0 1 25%;
}

.tool-shared-columns-25-grow {
  flex: 1 0 25%;
}

.tool-shared-columns-15 {
  flex: 0 1 15%;
}

#tool-shared-image-container {
  height: 400px;
  width: 100%;
}

#tool-shared-image-container img {
  max-width: 100%;
}

/* /////////////////////////////////////////////////////////////// */

#tool-hst-items-ul,
#tool-fb-items-ul {
  margin-top: 10px;
}

#tool-search-results-div > .tools-columns-right-subsection:has(> div:empty) {
  display: none;
}

/* Needed for metadata editor */
#tool-search-results-div
  > .tools-columns-right-subsection:has(> div:not(:empty)) {
  display: block !important;
}

#tool-search-results-div > .tools-columns-right-subsection > div {
  margin-top: 10px;
}
/* /////////////////////////////////////////////////////////////// */

#tool-ep-palette {
  height: 400px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: rgb(155, 155, 155) 1px solid;
  user-select: text;

  /* ref: https://programming.vip/docs/three-ways-of-realizing-transparent-grid-with-css.html */
  background-image: repeating-conic-gradient(#7f7f7f 0 25%, transparent 0 50%);
  background-size: 16px 16px;
  background-color: #666666;
}

#tool-ep-palette div {
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

#tool-ep-palette div div {
  color: white;
  background-color: black;
  /* mix-blend-mode: difference; */
  padding: 5px;
  height: 30px;
  font-size: 15px;
}

/* /////////////////////////////////////////////////////////////// */

#tool-et-textarea-output,
#tool-eq-textarea-output {
  height: 400px;
  width: 100%;
  padding: 5px;
  border-color: rgb(155, 155, 155);
  resize: none;
  margin: 0px;
  display: block;
}

/* /////////////////////////////////////////////////////////////// */

#tool-cq-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#tool-cq-textarea-input {
  height: 400px;
  width: 100%;
  padding: 5px;
  border-color: rgb(155, 155, 155);
  resize: none;
  margin: 0px;
  display: block;
  cursor: auto;
}

#tool-cq-image-container {
  height: 400px;
  width: 100%;
  border: rgb(155, 155, 155) 1px solid;
  /* ref: https://programming.vip/docs/three-ways-of-realizing-transparent-grid-with-css.html */
  background-image: repeating-conic-gradient(#7f7f7f 0 25%, transparent 0 50%);
  background-size: 16px 16px;
  background-color: #666666;
}

/* /////////////////////////////////////////////////////////////// */

#tool-cc-folders-file-formats-div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: flex-start;
}

#tool-cc-folders-file-formats-div .tools-checkbox-container {
  width: auto;
}

/* /////////////////////////////////////////////////////////////// */

#tool-rss-section-0-content-div {
  display: inline-block;
  width: 100%;
}

#tool-rss-channel-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px 15px;
  /* margin-bottom: 10px; */
}

#tool-rss-channel-info-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tool-rss-channel-info-title-button {
  font-size: 1.8em;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
#tool-rss-channel-info-title-button.tool-rss-icon-button:hover {
  transform: scale(1.01);
}
#tool-rss-channel-info-title-button:not(.tool-rss-icon-button) {
  filter: opacity(0.6);
}

/* #tool-rss-channel-info-title-text {
  flex-grow: 1;
} */

#tool-rss-channel-info-title-buttons {
  font-size: 1.1em;
  display: flex;
  align-items: center;
  gap: 8px;
}

#tool-rss-channel-info-desc {
  display: flex;
  flex-direction: column;
  gap: 5px;
  filter: opacity(0.7);
  margin: 0 0px;
}
/* #tool-rss-channel-info-desc span {
  margin-left: 10px;
}
#tool-rss-channel-info-desc span::before {
  content: "•";
  position: absolute;
  left: 0px;
} */
/* #tool-rss-channel-info-desc span:nth-child(2) {
  padding-inline-start: 10px;
  border-inline-start: 2px solid var(--tools-text-color);
}
#tool-rss-channel-info-desc span:nth-child(2)::before {
  content: "";
} */
/* 
#tool-rss-channel-info-desc:has(> :nth-child(2):last-child) {
  padding-inline-start: 10px;
  border-inline-start: 2px solid var(--tools-text-color);
} */

#tool-rss-items-div {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 15px;
  margin-top: 5px;
}

.tool-rss-item-div {
  padding: 25px;
  background-color: var(--tools-bg2-color);
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 15px;
  border-radius: 10px;
  max-width: 100%;
}

.tool-rss-item-title {
  font-size: 1.4em;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.tool-rss-item-title-text {
  flex-grow: 1;
}

.tool-rss-icon-button:hover {
  color: var(--tools-button-normal-bg-hover-color);
  transform: scale(1.05);
  cursor: pointer;
}

.tool-rss-icon-button:active {
  transform: translateY(1px);
}

.tool-rss-item-date {
  font-size: 0.85em;
  text-transform: uppercase;
  filter: opacity(0.7);
}

.tool-rss-item-enclosure {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.tool-rss-item-enclosure:has(i) {
  font-size: 5em;
}
.tool-rss-item-enclosure img {
  max-width: 100%;
}
.tool-rss-item-enclosure i:hover {
  color: var(--tools-button-normal-bg-hover-color);
  transform: scale(1.05);
  cursor: pointer;
}

.tool-rss-desc-prelined {
  white-space: pre-line;
}

.tool-rss-item-desc p,
.tool-rss-item-desc h1,
.tool-rss-item-desc h2,
.tool-rss-item-desc h3,
.tool-rss-item-desc h4,
.tool-rss-item-desc ul {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  line-height: 150%;
}

.tool-rss-item-desc ul {
  line-height: 90%;
}

.tool-rss-item-desc li {
  margin-left: 30px !important;
  line-height: 150%;
}

.tool-rss-item-desc p,
.tool-rss-item-desc h1,
.tool-rss-item-desc h2,
.tool-rss-item-desc h3,
.tool-rss-item-desc h4,
.tool-rss-item-desc ul,
.tool-rss-item-desc table,
.tool-rss-item-desc img,
.tool-rss-item-desc pre {
  max-width: 100% !important;
  white-space: pre-wrap;
}

.tool-rss-item-desc table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* .tool-rss-item-desc td {
  padding: 15px;
} */
.tool-rss-item-desc tr td {
  display: block;
}

.tool-rss-item-desc img {
  display: block;
  padding: 15px 0px;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.tool-rss-item-desc hr {
  border: 1px solid var(--tools-text-color);
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.tool-rss-item-desc a:link,
.tool-rss-item-desc a:visited,
.tool-rss-item-desc a:hover,
.tool-rss-item-desc a:active {
  color: var(--tools-text-color);
  text-decoration: underline;
}

.tool-rss-item-desc a:link:has(img) {
  text-decoration: none;
}

#tool-rss-channel-info-desc a:link,
#tool-rss-channel-info-desc a:visited,
#tool-rss-channel-info-desc a:hover,
#tool-rss-channel-info-desc a:active {
  color: var(--tools-text-color) !important;
  text-decoration: underline;
}

#tool-rss-channel-info-desc a:link:has(img) {
  text-decoration: none;
}

/* /////////////////////////////////////////////////////////////// */
