:root {
  --toolbar-height: 30px;
}

#toolbar-page-numbers {
  padding: 0 10px;
  color: var(--toolbar-text-color);
  display: block;
  font-size: 17px;
  white-space: nowrap;
}

#toolbar {
  width: 100%;
  height: var(--toolbar-height);
  background-color: var(--toolbar-bg-color);
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  align-items: center;
  user-select: none;
  flex-wrap: nowrap;
  position: fixed;
  bottom: 0;
  border: 0;
  z-index: 20;
}
#toolbar * {
  outline: none;
}

.toolbar-item {
  height: 100%;
  position: relative;
}

.toolbar-item-separator {
  height: 100%;
  border-left: 1px solid var(--toolbar-item-separator-color);
}

.toolbar-item a {
  color: var(--toolbar-item-color);
  text-decoration: none;
  font-size: 18px;
  width: 40px;
  height: 100%;

  display: inline-block;
  text-align: center;
  padding: 6px 0 5px 0;
}
.toolbar-item a:hover {
  background-color: var(--toolbar-item-hover-bg-color);
  color: var(--toolbar-item-hover-color);
}

#toolbar-arrow-buttons {
  display: flex;
  align-items: center;
  direction: ltr;
}

/* SLIDER */

#toolbar-page-numbers {
  user-select: none;
  direction: ltr;
}

#toolbar-page-slider-div {
  flex-grow: 1;
  padding: 0px 10px;
  user-select: auto;
}

#toolbar-page-slider-input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: var(--toolbar-page-slider-right-bg-color);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}

#toolbar-page-slider-input:hover {
  opacity: 1;
}

/* #toolbar-page-slider-input::-webkit-slider-runnable-track {
} */

#toolbar-page-slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: var(--toolbar-page-slider-thumb-color);
  box-shadow: -100vw 0 0 100vw var(--toolbar-page-slider-left-bg-color);
}
#toolbar-page-slider-div[dir="rtl"]
  #toolbar-page-slider-input::-webkit-slider-thumb {
  box-shadow: 100vw 0 0 100vw var(--toolbar-page-slider-left-bg-color);
}
#toolbar-page-slider-input::-webkit-slider-thumb:hover {
  width: 30px;
}

/* html[dir="rtl"] #toolbar-button-next i {
  transform: scale(-1, 1);
}

html[dir="rtl"] #toolbar-button-prev i {
  transform: scale(-1, 1);
} */

#toolbar-button-pagemode-expand-href:has(> :last-child:nth-child(1)),
#toolbar-button-pagemode-0-href {
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toolbar-button-pagemode-expand-href:has(> :last-child:nth-child(2)),
#toolbar-button-pagemode-1-href {
  display: flex;
  gap: 1px;
  justify-content: center;
  font-size: 17px;
  align-items: center;
}

#toolbar-button-pagemode-2-href,
#toolbar-button-pagemode-expand-href:has(> :last-child:nth-child(4)) {
  display: flex;
  gap: 1px;
  justify-content: center;
  font-size: 8px;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
}

.toolbar-icons-break {
  flex-basis: 100%;
  height: 0;
}

.toolbar-button-menu {
  position: absolute;
  bottom: 30px;
  background-color: var(--toolbar-bg-color);
}

/* ref: https://docs.fontawesome.com/web/add-icons/pseudo-elements */
.toolbar-button-menu-child-highlight::before {
  position: absolute;
  left: -1px;
  font: var(--fa-font-solid);
  content: "\f0da";
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}
.toolbar-button-menu-child-highlight::after {
  position: absolute;
  right: -1px;
  font: var(--fa-font-solid);
  content: "\f0d9";
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}
