:root {
  --toolbar-height: 30px;
}

#toolbar-page-numbers {
  padding: 0 10px;
  color: var(--toolbar-text-color);
  display: block;
  font-size: 17px;
  white-space: nowrap;
}

#toolbar {
  width: 100%;
  height: var(--toolbar-height);
  background-color: var(--toolbar-bg-color);
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  align-items: center;
  user-select: none;
  flex-wrap: nowrap;
  position: fixed;
  bottom: 0;
  border: 0;
  z-index: 20;
}
#toolbar * {
  outline: none;
}

.toolbar-item {
  height: 100%;
}

.toolbar-item-separator {
  height: 100%;
  border-left: 1px solid var(--toolbar-item-separator-color);
}

.toolbar-item a {
  color: var(--toolbar-item-color);
  text-decoration: none;
  font-size: 18px;
  width: 40px;
  height: 100%;

  display: inline-block;
  text-align: center;
  padding: 6px 0 5px 0;
}
.toolbar-item a:hover {
  background-color: var(--toolbar-item-hover-bg-color);
  color: var(--toolbar-item-hover-color);
}

/* SLIDER */

#toolbar-page-numbers {
  user-select: none;
  direction: ltr;
}

#toolbar-page-slider-div {
  flex-grow: 1;
  padding: 0px 10px;
  user-select: auto;
}

#toolbar-page-slider-input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 10px;
  background: var(--toolbar-page-slider-right-bg-color);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
}

#toolbar-page-slider-input:hover {
  opacity: 1;
}

/* #toolbar-page-slider-input::-webkit-slider-runnable-track {
} */

#toolbar-page-slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: var(--toolbar-page-slider-thumb-color);
  box-shadow: -100vw 0 0 100vw var(--toolbar-page-slider-left-bg-color);
}
#toolbar-page-slider-input::-webkit-slider-thumb:hover {
  width: 30px;
}

/* html[dir="rtl"] #toolbar-button-next i {
  transform: scale(-1, 1);
}

html[dir="rtl"] #toolbar-button-prev i {
  transform: scale(-1, 1);
} */
