#div-search-results > div {
  border: 1px solid rgb(136, 136, 136);
  font-size: 15px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

#div-search-results h1 {
  font-size: 2em;
}
#div-search-results h2 {
  font-size: 1.5em;
}
#div-search-results h3 {
  font-size: 1.3em;
}
#div-search-results h4 {
  font-size: 1em;
}
#div-search-results h5 {
  font-size: 0.8em;
}
#div-search-results h6 {
  font-size: 0.7em;
}
