body {
  text-align: center;
  user-select: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin-top: 30px;
  padding: 0 20px;
  text-align: left;
}

.container-withtabs {
  margin-top: 10px !important;
}

.btn {
  width: 100%;
}

#output-path {
  font-weight: bold;
}

h5 {
  margin-bottom: 20px;
  font-size: 20px;
}

#button-start {
  margin-bottom: 30px;
}

.hide {
  display: none;
}

.btn:hover {
  filter: brightness(120%);
}

textarea#modal-log {
  height: 150px;
  color: rgb(155, 155, 155);
  padding: 5px;
  border-color: rgb(155, 155, 155);
  resize: none;
}

details summary {
  cursor: pointer;
}

.tabs .tab a {
  color: rgba(47, 144, 209, 0.664);
}

.tabs .tab a:hover {
  background-color: rgba(255, 255, 255, 0) !important;
  color: rgb(47, 144, 209);
}

.tabs .tab a.active {
  background-color: rgba(255, 255, 255, 0) !important;
  color: rgb(47, 144, 209);
}

.tabs .indicator {
  background-color: rgb(47, 144, 209) !important;
}
