:root {
  --bg-color: #1e1e1e;
  --text-color: #666;

  --titlebar-text-color: #dbdbdb;
  --titlebar-bg-color: #818181;
  --titlebar-focused-bg-color: #a5a5a5;

  --toolbar-text-color: #dbdbdb;
  --toolbar-bg-color: #818181;
  --toolbar-item-separator-color: #3b3b3b;
  --toolbar-item-thick-separator-color: #6b6b6b;
  --toolbar-item-color: #3b3b3b;
  --toolbar-item-hover-bg-color: #ddd;
  --toolbar-item-hover-color: #000;
  --toolbar-page-slider-right-bg-color: #4d4d4d;
  --toolbar-page-slider-left-bg-color: #daa41d;
  --toolbar-page-slider-thumb-color: #fff;

  --scrollbar-bg-color: #1e1e1e;
  --scrollbar-color: #666666;
  --scrollbar-hover-color: #555;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.hide {
  display: none;
}

/* //////////////  ////////////// */

#clock-bubble {
  width: 100%;
  text-align: right;
  position: fixed;
  top: 10;
  border: 0;
  z-index: 9;
  margin-top: 10px;
}

#clock-bubble > span {
  font-size: 15px;
  color: white;
  opacity: 0.5;
  background-color: rgb(109, 109, 109);
  padding: 2px 5px;
  border-radius: 5px;
  margin-right: 25px;
}

#page-number-bubble {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  border: 0;
  z-index: 9;
  margin-bottom: 8px;
}

#page-number-bubble > span {
  font-size: 15px;
  color: white;
  opacity: 0.5;
  background-color: rgb(109, 109, 109);
  padding: 2px 5px;
  border-radius: 5px;
}

#loading {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.15) !important;
}

#pages-container {
  /* width: 100%;
  height: 100%; */
  /* ref: https://css-tricks.com/centering-the-newest-coolest-way-vs-the-oldest-coolest-way/ */
  display: grid;
  height: 100%;
  margin: 0;
  place-items: center center;
}

.container-after-titlebar {
  margin-bottom: 30px; /*26px;31px; was 26 */
}

/* //////////////  ////////////// */

.set-rotate-180 {
  transform: rotate(180deg);
}

.set-fit-to-height {
  height: 100% !important;
}

.set-fit-to-height img {
  height: 100% !important;
  /* display: block;
  margin: auto; */
}

.set-fit-to-height > canvas {
  height: 100% !important;
  /* display: block;
  margin: auto; */
}

.set-fit-to-width img {
  width: 100% !important;
}

.set-fit-to-width > canvas {
  width: 100% !important;
}

.set-display-none {
  display: none !important;
}

.set-top-zero {
  top: 0px !important;
}

.set-margin-bottom-zero {
  margin-bottom: 0px !important;
}

/* //////////////  ////////////// */

.titlebar {
  /* background-color: var(--toolbar-bg-color) !important; */
  color: var(--toolbar-text-color) !important;
  font-weight: bold !important;
  z-index: 20;
}

/* .menubar-menu-container,
.action-menu-item
{
  background-color: var(--toolbar-bg-color) !important;
} */

/* .action-menu-item.focused
{
  background-color: white !important;
} */


/* .titlebar > * {
  color: #999 !important;
  font-weight: bold !important;
} */
.menubar-menu-title,
.menubar-menu-button,
.action-item,
.action-menu-item {
  color: var(--toolbar-text-color) !important;
}

.hidden-scrollbar {
  overflow-x: auto;
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* CENTER BLOCK OPEN FILE INFO */

.centered-block {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* color: #666; */
  text-align: center;
}
.centered-block img {
  width: 30vh;
  opacity: 0.3;
  margin: auto;
  /* filter: blur(1px) grayscale(100%); */
  filter: grayscale(100%);
  margin-bottom: 20px;
}

/* SCROLLBAR */

/* ::-webkit-scrollbar {
  display: none;
} */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-bg-color);
  border-left: 1px #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover-color);
}
