html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.hide {
  display: none;
}

/* //////////////  ////////////// */

#page-number-bubble {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  border: 0;
  z-index: 9;
  margin-bottom: 8px;
}

#page-number-bubble > span {
  font-size: 15px;
  color: white;
  opacity: 0.5;
  background-color: rgb(109, 109, 109);
  padding: 2px 5px;
  border-radius: 5px;
}

#loading {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.15) !important;
}

#pages-container {
  /* width: 100%;
  height: 100%; */
  /* ref: https://css-tricks.com/centering-the-newest-coolest-way-vs-the-oldest-coolest-way/ */
  display: grid;
  height: 100%;
  margin: 0;
  place-items: center center;
}

.container-after-titlebar {
  margin-bottom: 30px; /*26px;31px; was 26 */
}

/* //////////////  ////////////// */

.set-rotate-180 {
  transform: rotate(180deg);
}

.set-fit-to-height {
  height: 100% !important;
}

.set-fit-to-height img {
  height: 100% !important;
  /* display: block;
  margin: auto; */
}

.set-fit-to-height > canvas {
  height: 100% !important;
  /* display: block;
  margin: auto; */
}

.set-fit-to-width img {
  width: 100% !important;
}

.set-fit-to-width > canvas {
  width: 100% !important;
}

.set-display-none {
  display: none !important;
}

.set-top-zero {
  top: 0px !important;
}

.set-margin-bottom-zero {
  margin-bottom: 0px !important;
}

/* //////////////  ////////////// */

.titlebar {
  color: rgb(219, 219, 219) !important;
  font-weight: bold !important;
  /* border-bottom: 1px solid rgb(63, 63, 63); */
  z-index: 20;
}

/* .titlebar > * {
  color: #999 !important;
  font-weight: bold !important;
} */
.menubar-menu-title,
.menubar-menu-button,
.action-item,
.action-menu-item {
  color: rgb(219, 219, 219); /*#3b3b3b !important;*/
}

.hidden-scrollbar {
  overflow-x: auto;
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* CENTER BLOCK OPEN FILE INFO */

.centered-block {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* color: #666; */
  text-align: center;
}
.centered-block img {
  width: 30vh;
  opacity: 0.3;
  margin: auto;
  /* filter: blur(1px) grayscale(100%); */
  filter: grayscale(100%);
  margin-bottom: 20px;
}

/* SCROLLBAR */

/* ::-webkit-scrollbar {
  display: none;
} */

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e1e1e;
  border-left: 1px #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(102, 102, 102);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
